*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* BASIC TYPOGRAPHY */
body{
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #555;
}

a {
	text-decoration: none;
	color: #555;
}


h1,h2,h3,h4{
	font-weight: 400;
}
h1{
	font-size: 2em;
}

h2{
	font-size: 1.6em;
}

h3{
	font-size: 1.4em
}

h4{
	font-size: 1.2em
}

.sticky-sidebar-content > ul{
	font-size: 0.95em;
}

.sticky-sidebar-content > ul > li >ul{
	font-size: 0.9em;
}

/* COLOR SCHEME AND BACKGROUNDS*/

a.active {
	color: red;
}

code[class*="language-"], pre[class*="language-"]{
	text-shadow: none;
}
body{
	background-color: #ececec; /* backup value*/
	background-image: url(../images/square.png);
}

.page-content{

}

.item{
	background-color: #ececec;
	border: 1px solid #D4D2D3;
}

.header{
	background-color: #E74C3C;
	color: #ecf0f1;
	color: #FFF;
}

.header p {
	
}

.item h2{
	border-bottom: 1px solid #D4D2D3;
	padding-bottom: 10px;
}

.item pre{
	background-color: #E5E4E5;
	text-shadow: none;

}

.item p code{
	background-color: #E5E4E5;
	color: #444;
}

.item h2{
	color: #3498DB;
}

.item h3{
	color: #2980B9;
}

.imp{
	
}

.imp .octicon {
	text-shadow: 0px 0px 2px #FF96B7;
	color: #FF96B7;
}

.list-number{
	color: #3498db;
	text-shadow: 0px 0px 1px #3498db;
}

/* BASIC LAYOUT*/

.header{
	
}

.main-wrapper{
	max-width: 1100px;
	margin: 0 auto;
}

.footer{
	
}



/* SPECIFIC FONTS, BORDERS AND SPACING RULES*/

/* HEADER */
.header{
	padding: 40px 20px;
	font-size: 2em;
}

.header h1{
	
}

/* PAGE CONTENT */
.main-wrapper{
	margin-top: 40px;
}

.page-content{
	padding-top: 20px;
}
.item{
	padding: 0px 20px;
	padding-top: 20px;
	border-radius: 8px;
	margin-bottom: 30px;
}

.item p {
	margin: 18px 0px;
}

.item pre{
	margin: 25px 25px;
}

.item h3{
	margin-top: 15px;
}

.imp .octicon{
	font-size: 24px;
	margin-right: 10px;
}

.list-number{
	margin-right: 5px;
	font-size: 1.1em;
}


/* STICKY SIDEBAR*/
.sticky-sidebar{
	padding-top: 20px;
}
.sticky-sidebar ul{
	list-style: none;
	margin-left: 20px;
}

.sticky-sidebar-content > ul > li {
	margin-bottom: 10px;
}

.sticky-sidebar-content > ul > li > ul li {
	margin-top: 5px;
}

.inner-list {
	display: none;
}

/******************************  STICKY SIDEBAR COPIED CODE ******************************/


.page-content{
	width: 75%;
	float: left;
}

.sticky-sidebar{
	width: 25%;
	float: right;
}

/* Value of max-width(here 590px for example) should be 
	same as that of the data-switch-width that you set. ; */
@media screen and (max-width: 768px){
	.page-content{
		float: none;
		width: 100%;
	}

	.sticky-sidebar{
		position: relative;
		float: none;
		width: 100%;
		z-index: 1;
	}

	.sticky-sidebar .sticky-sidebar-header{
		background-color: #ecf0f1;
		padding: 5px;
		min-height: 30px;
	}

	.sticky-sidebar .sticky-sidebar-header:after{
		content:"\2261";
		float: right;
		margin-right: 20px;
		font-family: sans-serif;
		font-weight: normal;
		font-size: 40px;
		line-height: 30px;
	}

	.sticky-sidebar .sticky-sidebar-content{
		/*use these rules if CSS tranforms are detected*/
		position: absolute;
		width: 100%;
		background-color: #ecf0f1;
		
		transition: transform 180ms ease-in-out,
	 				opacity 180ms ease-in-out; 
		opacity: 0;
		-webkit-transform-origin:top;
			-ms-transform-origin:top;
				transform-origin:top;

		-webkit-transform: scaleY(0);
			-ms-transform: scaleY(0);
				transform: scaleY(0);
	}

	.sticky-sidebar .sticky-sidebar-content.reveal{
		opacity: 1;
		-webkit-transform: scaleY(1);
			-ms-transform: scaleY(1);
				transform: scaleY(1);
	}


	.sticky-sidebar.optimizePlain .sticky-sidebar-content{
		/* if CSS transforms are not avaialble; simply toggle the display property*/
		display: none;
		position: absolute;
		width: 100%;
		background-color: #ecf0f1;
		opacity: 1;


		-webkit-transform: none;
			-ms-transform: none;
				transform: none;
	}

} 


.clearfix:after{
	content: " ";
	font-size: 0;
	display: block;
	visibility: hidden;
	height: 0;
	clear:both;
}